/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *   Simple NGS
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */


docker.enabled = true

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

params.outdir = './results'
timeline {
  enabled = true
  file = "${params.outdir}/NGSpipe_timeline.html"
}
trace {
  enabled = true
  file = "${params.outdir}/NGSpipe_trace.txt"
}
report {
  enabled=true
  file = "${params.outdir}/NGSpipe_report.html"
}

dag {
 enabled=true
 file = "${params.outdir}/flow.html"
}


//Set some sample params
params.aligner.name="novoalign"
params.platform="illumina"
params.sampleparams.sampleid="sample123"


process {
    container = 'zayed/flattened'
    errorStrategy = 'retry' 
    maxRetries = 2 
    $buildNovoIndex.cpus = 2 
    $novoalign.cpus = 2
    $buildNovoIndex = '2 GB'
    $novoalign.memory = '3 GB' 
}

/* 
 * environment specific configuration 
 */ 
 
profiles {
    awsbatch {
        aws.region = 'us-east-1'
        aws.client.storageEncryption = 'AES256'
        process.queue = 'zq1'
        executor.name = 'awsbatch'
        //executor.awscli = '/home/ec2-user/miniconda/bin/aws'
    }
    
} 

